includes:
	- phpstan-baseline.php

parameters:
	level: 8
	paths:
		- ./bin
		- ./src
		- ./tests
	symfony:
		consoleApplicationLoader: phpstan/console-application.php
	ignoreErrors:
		- '#Dynamic call to static method PHPUnit\\Framework\\.*#'
