parameters:
	level: 8
	paths:
		- ./bin
		- ./src
		- ./tests
	symfony:
		console_application_loader: phpstan/console-application.php
	ignoreErrors:
		- '#Dynamic call to static method PHPUnit\\Framework\\.*#'
